// Neat Overrides
///////////////////////////////////////////////////////////////////////////////
$column       : 90px;
$gutter       : 30px;
$grid-columns : 16;
$max-width    : em(1088);

// Neat Breakpoints
///////////////////////////////////////////////////////////////////////////////
$mobile   : new-breakpoint(max-width em(639));   // Smartphones
$tablet   : new-breakpoint(min-width em(640));   // Tablets and landscape HiDPi smartphones
$computer : new-breakpoint(min-width em(1024));  // Computers and landscape HiDPi tablets
$tv       : new-breakpoint(min-width em(1440));  // Large/high-resolution screens
